{% extends 'includes/userbase.html' %}
{% block content %}
<div class="">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mt-5">
              {% for message  in messages %}
                <p><strong>{{message}}</strong></p>
              {% endfor %}
                <form class="my-form" action="register" method="POST">
                    {% csrf_token %}
                    <div class="container">
                        <div class="mb-3 pt-4">
                          <h3 class="text-success">Signup</h3>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Phone Number</label>
                          <input type="tel" id="phone" name="phone" class="form-control" required>
                          <div id="phoneError" style="color: red; font-style: italic; display: none;" class="pb-1">*Enter 10 digits</div>
                          <div id="phoneError2" style="color: red; font-style: italic; display: none;" class="pb-1">*Only 10 digits is required</div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Username</label>
                          <input type="text" id="username" name="name" class="form-control" required>
                          <div id="textError" style="color: red; font-style: italic; display: none;" class="pb-1">*Enter minimum 4 characters</div>
                          <div id="illegalError" style="color: red; font-style: italic; display: none;" class="pb-1">*Contains illegal characters</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" id="password1" name="password1" class="form-control" required>
                          <div id="passError" style="color: red; font-style: italic; display: none;" class="pb-1">*Enter minimum 4 characters</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                          <input type="password" id="password2" name="password2" class="form-control" required>
                          <div id="passError2" style="color: red; font-style: italic; display: none;" class="pb-1">*Password is not matching</div>
                        </div>
                        
                        <button id="sub" type="submit" class="btn btn-success mt-3 mb-4">Signup</button>
                        <a href="login" class="btn btn-primary mt-3 mb-4" type="button">Signin</a>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(()=>{
    $('#username').blur(function(){
      var text = $(this).val()
      if(/^[a-zA-Z0-9- ]*$/.test(text) == false) {
          $("#illegalError").show()              
      }else{
          $("#illegalError").hide()              
      }
      if(text.length<4){
        $("#textError").show()
      }else{
        $("#textError").hide()
      }
    }),
    $('#phone').blur(function(){
      var text = $(this).val()
      if(text.length<10){
        $("#phoneError").show()
      }else{
        $("#phoneError").hide()
      }
      if(text.length>10){
        $("#phoneError2").show()
      }else{
        $("#phoneError2").hide()
      }
    }),
    $('#password1').blur(function(){
      var pass = $(this).val()
      if(pass.length<4){
        $("#passError").show()
      }else{
        $("#passError").hide()
      }
    }),
    $('#password2').on('input',function(){
      var pass1 = $('#password1').val()
      var pass2 = $('#password2').val()
      if(pass1 != pass2){
        $("#passError2").show()
        $("#sub").hide()
      }else{
        $("#passError2").hide()
        $("#sub").show()
      }
    })
  })
</script>
{% endblock %}