{% extends "includes/userbase.html" %}
{% block content %}
<div class="container mt-5 mb-5">
    <main class="pt-5">
        <div class="row g-5">
        <div class="col-md-3 col-12 col-lg-3 order-md-last checkout-box" >
          <h4 class="d-flex justify-content-between align-items-center mb-3 mt-3">
            <span class="text-success">Your cart</span>
            <span class="badge bg-success rounded-pill">{{quantity}}</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{pdtname}}</h6>
                <small class="text-muted">{{category}}</small>
              </div>
              <span class="text-muted"><i class="fas fa-rupee-sign"></i>{{price}}x{{quantity}}</span>
            </li>
            
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success"><i class="fas fa-rupee-sign"></i>0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (INR)</span>
              <strong><i class="fas fa-rupee-sign"></i>{{totalprice}}</strong>
            </li>
          </ul>
  
          <form class="card p-2 mb-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <button type="submit" class="btn btn-warning" style="color: white;">Redeem</button>
            </div>
          </form>
        </div>

        <div class="col-md-1 order-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-6 col-lg-6 checkout-box">
          <h4 class="mb-3 mt-3">Billing address</h4>
          <form class="needs-validation" action="buyNow" method="post">
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-sm-12">
                <label for="fullName" class="form-label">Full name</label>
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="" value="{{session.username}}" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
  
              <div class="col-12">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">+91</span>
                  <input type="text" name="phoneNumber" class="form-control" id="phonenumber" placeholder="Phone Number" required>
                <div class="invalid-feedback">
                    Your Phone Number is required.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
  
              <div class="col-12">
                <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" name="address2" id="address2" placeholder="Apartment or suite">
              </div>
  
  
              <div class="col-md-4">
                <label for="state" class="form-label">District</label>
                <select class="form-select" name="district" id="state" required>
                  <option value="">Choose...</option>
                  <option  value="Malappuram">Malappuram</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="zip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zip" name="zip" placeholder="" required>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>
  
            <hr class="my-4">
  
            <h4 class="mb-3">Payment</h4>
  
            <div class="my-3">
              <div class="form-check">
                <input id="credit" name="paymentMethod" value="COD" type="radio" class="form-check-input" required>
                <label class="form-check-label" for="COD">Cash on delivery</label><br>
                <input id="paypal" name="paymentMethod" value="PayPal" type="radio" class="form-check-input" required>
                <label class="form-check-label" for="PayPal">PayPal</label>
              </div>
            </div>
  
            <hr class="my-4">
            <input type="hidden" name="ProductName" value="{{pdtname}}">
            <input type="hidden" name="Quantity" value="{{quantity}}">
            <input type="hidden" name="Price" value="{{price}}">
            <input type="hidden" name="Category" value="{{category}}">
            <input type="hidden" name="user" value="{{session.username}}">
            <input type="hidden" name="delivery" value="Not Delivered">
            <button class="w-100 btn btn-success btn-lg mb-3" name="submit" style="border-radius: 20px" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>
    </main>
</div>
{% endblock %}